:root {
  --light: #ffffff;
}

body {
  background-color: #f2f1d5;
}

footer {
  text-align: center;
  padding: 32px;
}

nav {
  background: url("images/background.png");
  box-shadow: 0px 2px 5px 5px grey;
}

blockquote {
  margin-top: 10px;
  font-style: italic;
}

.content {
  padding: 25px;
  background-color: var(--light);
  box-shadow: 8px 8px 16px 8px grey;
  margin-top: 32px;
  text-align: center;
  border-radius: 16px;
}

.content h1 {
  padding: 32px;
}

.content h2 {
  padding: 20px;
}

.flex-container {
  display: flex;
  text-align: center;
  align-items: center;
}

.amenities {
  display: flex;
  flex: 60%;
}

.amenities1 {
  flex: 50%;
}

.amenities2 {
  flex: 50%;
}

.about {
  flex: 40%;
  padding: 20px;
}

.reviews {
  flex: 60%;
  padding: 20px;
}

.reviews img {
  max-width: 100px;
  border-radius: 50%;
}

.map {
  flex: 40%;
}


@media screen and (max-width: 700px) {
  .flex-container, .amenities {
    flex-flow: column;
  }

  .welcome-text, .welcome-images, .amenities1, .amenities2, .about, .contact, .map {
    flex: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .welcome-text {
    flex: 20%;
  }

  .welcome-images {
    flex: 80%;
  }
}
